<app-navbar></app-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" opened>
      <div class="side-nav bg-secondary w-44 h-5/6 ml-3 my-3 py-5 rounded-l-lg rounded-br-lg">
        <ul class="color-accent font-light">
          <li>
            <button>
              Dashboard
            </button>
          </li>
          <li>
            <button>
              Broadcast
            </button>
          </li>
          <li>
            <button>
              Roadmap
            </button>
          </li>
          <li>
            <button>
              Timeline
            </button>
          </li>
          <li>
            <button>
              Profile
            </button>
          </li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content class="relative">

    <app-home *ngIf="tab==='home'"></app-home>
    <app-orgs *ngIf="tab==='orgs'"></app-orgs>
    <app-projects *ngIf="tab==='projects'"></app-projects>
    <app-boards *ngIf="tab==='boards'"></app-boards>
    <app-tasks *ngIf="tab==='tasks'"></app-tasks>
    <app-users *ngIf="tab==='users'"></app-users>

      <button mat-raised-button (click)="drawer.toggle()" class="absolute top-0 my-3 bg-secondary color-light text-xs font-thin h-20 rounded-r-lg"><mat-icon>chevron_right</mat-icon></button>
    </mat-drawer-content>
  </mat-drawer-container>