<section class="font-light mx-5 sm:mx-10 py-5 h-full">
  <div class="">
    <div class="mb-10">
      <h1 class="text-xl font-medium">Recent Tasks</h1>
      <div class="container mt-4 mx-auto">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <app-task-card-group></app-task-card-group>
        </div>
      </div>
    </div>
    <div class="mb-10">
      <h1 class="text-xl font-medium">
        Higher Priority Tasks
      </h1>
      <div class="container mt-4 mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <app-task-card-group></app-task-card-group>
        </div>
      </div>
    </div>
  </div>
</section>
