<section class="font-light mx-5 sm:mx-10 py-5 h-screen">
  <div class="">
    <div class="mb-10">
      <h1 class="text-xl font-medium">Projects</h1>
      <div class="container mt-4 mx-auto">
        <div class="">
          <div class="flex">
            <button
              class="m-2 bg-accent color-light w-60 h-40 rounded-lg text-center"
            >
              <mat-icon>add_box</mat-icon
              ><span class="ml-2 align-middle">Add Board</span>
            </button>
            <div *ngIf="projects" class="flex">
              <div *ngFor="let project of projects | async">
                <button>
                  <app-project-card
                    [description]="project.description"
                    [title]="project.title"
                    [id]="project._id"
                  ></app-project-card>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
