<div class="bg-secondary">
  <h1 mat-dialog-title>Create New Board</h1>
  <div mat-dialog-content class="mat-content">
    <div class="w-full max-w-lg mr-auto ml-auto mt-8 sm:mt-10 md:mt-14">
      <form [formGroup]="boardForm" (ngSubmit)="newBoardSubmit()">
        <div class="px-3 pb-8 ml-auto mr-auto">
          <div class="mb-4 w-full">
            <label
              class="block color-light text-sm font-light mb-1"
              for="title"
            >
              Title
            </label>
            <input
              class="shadow-sm appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300 max-h-10"
              id="title"
              type="text"
              formControlName="title"
            />
            <!-- <div class="text-red-400"
                        *ngIf="
                          projectForm.get('lname')?.touched &&
                          projectForm.get('lname')?.invalid
                        "
                      >
                        <div
                          *ngIf="projectForm.get('lname')?.errors?.['required']"
                        >
                          last name is required
                        </div>
                      </div> -->
          </div>
          <div class="mb-4">
            <label
              class="block color-light text-sm font-light mb-1"
              for="description"
            >
              Description
            </label>
            <input
              class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
              id="description"
              type="text"
              formControlName="description"
            />
            <!-- <div class="text-red-400"
                      *ngIf="
                        projectForm.get('email')?.touched &&
                        projectForm.get('email')?.invalid
                      "
                    >
                      <div
                        *ngIf="projectForm.get('email')?.errors?.['required']"
                      >
                        Email is required
                      </div>
                      <div
                        *ngIf="projectForm.get('email')?.errors?.['email']"
                      >
                        Email is invalid
                      </div>
                    </div> -->
          </div>
          <div class="mt-10">
            <button
              type="submit"
              mat-dialog-close
              class="bg-accent max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-0 rounded text-center w-1/3 hover:bg-tertiary duration-200 transition-all"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
