<!-- Header Landing page start  -->
<header>
  <nav class="relative bg-secondary text-gray-900 w-full">
    <div class="flex justify-between">
      <div
        class="md:flex-auto flex justify-between md:justify-start w-7/12 md:w-auto"
      >
        <div
          class="flex items-center justify-center ml-3 color-light md:hidden"
        >
          <mat-icon class="font-bold">dehaze</mat-icon>
        </div>
        <div
          class="relative p-2 md:p-4 text-2xl color-light font-semibold flex"
        >
          <div>
            <img
              src="/assets/images/logo.png"
              alt=""
              class="w-10 min-width-2 mx-3"
            />
          </div>
          <div class="hidden md:flex items-center">Provio</div>
        </div>
        <ul class="hidden md:flex gap-6 px-6">
          <li class="flex items-center">
            <button
              [routerLink]="['home']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Home
            </button>
          </li>
          <li class="flex items-center">
            <button
              [routerLink]="['tasks']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Tasks
            </button>
          </li>
          <li class="flex items-center">
            <button
              [routerLink]="['boards']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Boards
            </button>
          </li>
          <li class="flex items-center">
            <button
              [routerLink]="['projects']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Projects
            </button>
          </li>
          <li class="flex items-center">
            <button
              [routerLink]="['users']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Users
            </button>
          </li>
          <li class="flex items-center">
            <button
              [routerLink]="['orgs']"
              class="max-h-10 color-accent hover:text-gray-200 font-light text-sm py-3 px-1 rounded text-center hover:bg-tertiary duration-200 transition-all"
            >
              Orgs
            </button>
          </li>
        </ul>
      </div>
      <div class="md:flex-auto flex items-center justify-end">
        <ul class="flex gap-6 px-1 lg:px-6 color-accent font-light">
          <li class="md:flex items-center hidden">
            Org: <span class="color-light">&nbsp;Google</span>
          </li>
          <li class="md:flex items-center hidden">
            <mat-icon>notifications_none</mat-icon>
          </li>
          <li class="flex items-center gap-2">
            <img
              src="/assets/images/NEVER.jpg"
              alt="..."
              class="w-10 rounded-full"
            />
            <div class="hidden lg:block">
              <div class="color-light">Mohammed</div>
              <div class="text-xs">Super Admin</div>
            </div>

            <div class="relative inline-block text-left">
              <button
                type="button"
                class="inline-flex w-full justify-center"
                id="menu-button"
                aria-expanded="true"
                aria-haspopup="true"
              >
                <mat-icon class="flex-auto color-light">expand_more</mat-icon>
              </button>
              <div
                class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
              >
                <div class="py-1" role="none">
                  <button
                    class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-3"
                    (click)="onLogout($event)"
                  >
                    Sign out
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Header Landing page end  -->
