<div class="md:flex">
    <div class="flex-1 bg-light"></div>
    <div
      class="relative md:h-screen flex-1 items-center content-center bg-secondary"
    >
      <div class="mr-auto ml-auto w-full md:mt-52">
        <div class="w-full max-w-md mr-auto ml-auto">
          <div class="flex justify-center gap-6">
            <div  class="w-3/12">
              <img src="/assets/images/logo.png" alt="">
  
            </div>
            <div class="flex items-center">
  
              <h1 class="text-6xl color-light ">Provio</h1>
            </div>
        </div>
        </div>
        <div class="w-full max-w-lg mr-auto ml-auto mt-14">
          <div
            class="px-3 pb-8 mb-4 ml-auto mr-auto"
          >

            <div class="mb-6">
              <a
                [routerLink]="['/auth/signin']"
                class="bg-accent px-10 w-1/3 max-h-10 ml-40 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 rounded text-center hover:bg-tertiary"
              >
                Login
              </a>
            </div>
            
            <div class="text-center color-light font-light">
              Don't have an account yet? <a
              [routerLink]="['/auth/signup']"
                class="color-accent font-light text-sm duration-200 transition-colors hover:text-cyan-600"
                >Signup</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  