<section class="font-light mx-5 sm:mx-10 h-full">
  <div class="py-10">
    <p>Welcome,</p>
    <h1 class="text-3xl">{{ userName | async }}</h1>
    <h3>
      You are logged into
      <span class="font-medium">{{ orgName | async }}</span>
    </h3>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="mb-10">
      <h1 class="text-xl font-medium">Higher Priority Tasks</h1>
      <div class="container mt-4 mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <app-task-card-group></app-task-card-group>
        </div>
      </div>
    </div>
    <div class="mb-10">
      <h1 class="text-xl font-medium">Projects</h1>
      <div class="container mt-4 mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <app-task-card-group></app-task-card-group>
        </div>
      </div>
    </div>
    <div class="mb-10">
      <h1 class="text-xl font-medium">Boards</h1>
      <div class="container mt-4 mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2">
          <app-task-card-group></app-task-card-group>
        </div>
      </div>
    </div>
  </div>
</section>
