<div class="md:flex">
  <div class="flex-1 bg-light"></div>
  <div
    class="relative md:h-screen flex-1 items-center content-center bg-secondary"
  >
    <div class="mr-auto ml-auto w-full md:mt-10">
      <div class="w-full max-w-md mr-auto ml-auto">
        <div class="flex justify-center gap-6">
          <div  class="w-3/12">
            <img src="/assets/images/logo.png" alt="">

          </div>
          <div class="flex items-center">

            <h1 class="text-6xl color-light ">Provio</h1>
          </div>
      </div>
      </div>
      <div class="w-full max-w-lg mr-auto ml-auto mt-14">
        <div
          class="px-3 pb-8 mb-4 ml-auto mr-auto"
        >
        <div class="flex gap-6">
          <div class="mb-4 w-1/2">
            <label
              class="block color-light text-sm font-light mb-1"
              for="firstname"
            >
              First Name
            </label>
            <input
              class="shadow-sm appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300 max-h-10"
              id="firstname"
              type="text"
              placeholder="John"
              name="fname"
            />
          </div>
          <div class="mb-4 w-1/2">
            <label
              class="block color-light text-sm font-light mb-1"
              for="lastname"
            >
              Last Name
            </label>
            <input
              class="shadow-sm appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300 max-h-10"
              id="lastname"
              type="text"
              placeholder="Smith"
            />
          </div>
        </div>
        <div class="mb-4">
          <label
            class="block color-light text-sm font-light mb-1"
            for="email"
          >
            Email address
          </label>
          <input
            class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
            id="email"
            type="email"
            placeholder="user@example.com"
          />
        </div>
          <div class="mb-6">
            <label
              class="block color-light text-sm font-light mb-1"
              for="password"
            >
              Password
            </label>
            <input
              class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-2/3 py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
              id="password"
              type="password"
              placeholder="***************"
            />
          </div>
          <div class="mb-4">
            <label
              class="block color-light text-sm font-light mb-1"
              for="orgname"
            >
              Org Name
            </label>
            <input
              class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-2/3 py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
              id="orgname"
              type="text"
            />
          </div>
          <div class="mb-6">
            <div class="grid sm:grid-cols-2 gap-4">
              <div class="text-center sm:text-left">
                <label>
                  <input type="checkbox" class="mr-2" />
                  <span
                    class="text-sm font-light color-light"
                    >Remember me</span
                  >
                </label>
              </div>
            </div>
          </div>
          
          <div class="mb-6">
            <a
              href="/login"
              class="bg-accent max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-10 rounded text-center w-full hover:bg-tertiary duration-200 transition-all"
            >
              Sign in
            </a>
          </div>
          
          <div class="text-center color-light font-light">
            Already have an account? <a
              href="/signin"
              class="color-accent font-light text-sm duration-200 transition-colors hover:text-cyan-600"
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
