<div class="md:flex">
  <div class="flex-1 bg-light"></div>
  <div
    class="relative md:h-screen flex-1 items-center content-center bg-secondary"
  >
    <div class="mr-auto ml-auto w-full md:mt-10">
      <div class="w-full max-w-md mr-auto ml-auto">
        <div class="flex justify-center gap-6">
          <div class="w-3/12">
            <img src="/assets/images/logo.png" alt="" />
          </div>
          <div class="flex items-center">
            <h1 class="text-6xl color-light">Provio</h1>
          </div>
        </div>
      </div>
      <div class="w-full max-w-lg mr-auto ml-auto mt-14">
        <form [formGroup]="signUpForm" (ngSubmit)="userSignUp()">
          <div class="px-3 pb-8 mb-4 ml-auto mr-auto">
            <div class="flex gap-6">
              <div class="mb-4 w-1/2">
                <label
                  class="block color-light text-sm font-light mb-1"
                  for="firstname"
                >
                  First Name
                </label>
                <input
                  class="shadow-sm appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300 max-h-10"
                  id="firstname"
                  type="text"
                  placeholder="John"
                  name="fname"
                  formControlName="fname"
                />
                <div class="text-red-400"
                  *ngIf="
                    signUpForm.get('fname')?.touched &&
                    signUpForm.get('fname')?.invalid
                  "
                >
                  <div
                    *ngIf="signUpForm.get('fname')?.errors?.['required']"
                  >
                    First name is required
                  </div>
                </div>
              </div>
              <div class="mb-4 w-1/2">
                <label
                  class="block color-light text-sm font-light mb-1"
                  for="lastname"
                >
                  Last Name
                </label>
                <input
                  class="shadow-sm appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300 max-h-10"
                  id="lastname"
                  type="text"
                  placeholder="Smith"
                  formControlName="lname"
                />
                <div class="text-red-400"
                  *ngIf="
                    signUpForm.get('lname')?.touched &&
                    signUpForm.get('lname')?.invalid
                  "
                >
                  <div
                    *ngIf="signUpForm.get('lname')?.errors?.['required']"
                  >
                    last name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label
                class="block color-light text-sm font-light mb-1"
                for="email"
              >
                Email address
              </label>
              <input
                class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-full py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
                id="email"
                type="email"
                placeholder="user@example.com"
                formControlName="email"
              />
              <div class="text-red-400"
                *ngIf="
                  signUpForm.get('email')?.touched &&
                  signUpForm.get('email')?.invalid
                "
              >
                <div
                  *ngIf="signUpForm.get('email')?.errors?.['required']"
                >
                  Email is required
                </div>
              </div>
            </div>
            <div class="mb-6">
              <label
                class="block color-light text-sm font-light mb-1"
                for="password"
              >
                Password
              </label>
              <input
                class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-2/3 py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
                id="password"
                type="password"
                placeholder="***************"
                formControlName="password"
              />
              <div class="text-red-400"
                *ngIf="
                  signUpForm.get('password')?.touched &&
                  signUpForm.get('password')?.invalid
                "
              >
                <div
                  *ngIf="signUpForm.get('password')?.errors?.['required']"
                >
                  Password is required
                </div>
                <div
                  *ngIf="signUpForm.get('password')?.errors?.['minlength']"
                >
                  Password should be min 6 characters
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label
                class="block color-light text-sm font-light mb-1"
                for="orgname"
              >
                Org Name
              </label>
              <input
                class="shadow-sm max-h-10 appearance-none border border-gray-400 rounded w-2/3 py-4 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:border-indigo-300"
                id="orgname"
                type="text"
                formControlName="orgName"
              />
              <div class="text-red-400"
                *ngIf="
                  signUpForm.get('orgName')?.touched &&
                  signUpForm.get('orgName')?.invalid
                "
              >
                <div
                  *ngIf="signUpForm.get('orgName')?.errors?.['required']"
                >
                  orgName is required
                </div>
                <div
                  *ngIf="signUpForm.get('orgName')?.errors?.['minlength']"
                >
                  orgName should be min 3 characters
                </div>
              </div>
            </div>
            <div class="mb-6">
              <div class="grid sm:grid-cols-2 gap-4">
                <div class="text-center sm:text-left">
                  <label>
                    <input type="checkbox" class="mr-2" />
                    <span
                      class="text-sm font-light color-light"
                      >Remember me</span
                    >
                  </label>
                </div>
              </div>
            </div>

            <div class="mb-6">
              <button
                type="submit"
                class="bg-accent max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-0 rounded text-center w-full hover:bg-tertiary duration-200 transition-all"
                >
                Sign in
              </button>
            </div>

            <div class="text-center color-light font-light">
              Already have an account?
              <a
                href="/signin"
                class="color-accent font-light text-sm duration-200 transition-colors hover:text-cyan-600"
                >Login</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
