/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins',sans-serif;
}
.color-primary {
  color: #222831;
}
.color-secondary {
  color: #393e46;
}
.color-accent {
  color: #00adb5;
}
.color-light {
  color: #eeeeee;
}
.bg-primary {
  background-color: #222831;
}
.bg-secondary {
  background-color: #393e46;
}
.bg-accent {
  background-color: #00adb5;
}
.bg-light {
  background-color: #eeeeee;
}
