<!-- Header Landing page start  -->
<header>
  <nav class="relative bg-light text-gray-900">
    <div class="container mx-auto flex justify-between">
      <div
        class="relative p-4 lg:p-6 text-xl color-primary font-bold flex"
      >
        <div>
          <img
            src="/assets/images/logo-dark.png"
            alt=""
            class="w-10 mx-3"
          />
        </div>
        <div class="flex items-center">Provio</div>
      </div>
      <ul class="flex gap-6 px-6">
        <li class="flex items-center">
          <button
            type="button"
            class="bg-primary max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-0 rounded text-center w-24 hover:bg-tertiary duration-200 transition-all"
          >
            <i class="fa-brands fa-github"></i>
            GitHub
          </button>
        </li>
        <li class="flex items-center">
          <button
            type="button"
            class="bg-primary max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-0 rounded text-center w-24 hover:bg-tertiary duration-200 transition-all"
          >
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Header Landing page end  -->
<!--  -->
<!--  -->
<!-- Hero Section start  -->
<section class="bg-light">
  <div class="mx-28 md:flex justify-between">
    <div class="flex-1 sm:py-10 md:py-48">
      <h1 class="text-3xl md:text-6xl font-light pb-2">
        Provio <br />
        Tasks Done Right!
      </h1>
      <p class="font-normal pb-2">
        Project Management application with a minimalist UI.
      </p>
      <ul>
        <li class="pb-1">
          <i class="fa-solid fa-check mx-2"></i>Simple and
          User friendly
        </li>
        <li class="pb-1">
          <i class="fa-solid fa-check mx-2"></i>Support for
          multiple Orgs
        </li>
        <li class="pb-1">
          <i class="fa-solid fa-check mx-2"></i>Role based
          access control
        </li>
      </ul>
      <div class="flex">
        <a href="#"
          [routerLink]="['/auth/signup']"
          class="bg-accent max-h-10 hover:bg-cyan-600 shadow-lg text-white font-normal text-sm py-3 px-5 rounded text-center hover:bg-tertiary duration-200 transition-all"
        >
          Create New Account
        </a>
        <a href="#"
          [routerLink]="['/auth/signin']"
          class="bg-white ml-5 max-h-10 hover:bg-slate-400 hover:text-white shadow-lg color-primary font-normal text-sm py-3 px-5 rounded text-center hover:bg-tertiary duration-200 transition-all"
        >
          Login
        </a>
      </div>
    </div>
    <div class="flex-1 flex items-center justify-center">
      <img
        src="/assets/images/hero/prototype-provio.png"
        alt=""
        class="sm:w-full min-width-20 rounded-lg shadow-md shadow-slate-700 mx-10"
      />
    </div>
  </div>
</section>
<!-- Hero Section end  -->
<!--  -->
<!--  -->
<!-- Explore Features Section Start -->
<section class="bg-light pb-10">
  <div class="text-center py-20 md:pt-0">
    <h1 class="text-3xl">Explore Features</h1>
    <p>
      A lot of cool features with a stress on minimalism
    </p>
  </div>
  <div class="mx-8 md:flex md:justify-center color-light">
    <div class="md:w-1/3 sm:mx-auto sm:w-2/3">
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Multiple Orgs
      </div>
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Invite Users
      </div>
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Attachments
      </div>
    </div>
    <div class="md:w-1/3 sm:mx-auto sm:w-2/3">
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Kanban Board
      </div>
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Role based access
      </div>
      <div class="bg-secondary p-3 mb-5 rounded-lg">
        <i
          class="fa-regular fa-circle-check color-accent mx-2"
        ></i
        >Simple user management
      </div>
    </div>
  </div>
</section>
<!-- Explore Features Section end -->
<!--  -->
<!--  -->
<!-- Footer Section Start -->
<footer class="bg-light pb-5 px-5">
  <div class="flex">
    <div>
      <img
        src="/assets/images/logo-dark.png"
        alt=""
        class="w-10 mx-3"
      />
    </div>
    <div class="flex items-center text-xl font-medium">
      Provio
    </div>
    <div class="flex items-center ml-10 text-xs font-light">
      <p>
        <i class="fa-regular fa-copyright"></i> 2023 Provio
        -
      </p>
      <a
        href="https://github.com/mishalBasheer"
        class="color-accent"
      >
        Mohammed Mishal</a
      >
    </div>
  </div>
</footer>
<!-- Footer Section end -->
